<nav class="navbar navbar-expand-lg" style="background-color: #005f73 !important; margin: 0; padding: 0;">
  <div class="container">
    <a class="navbar-brand text-white text-capitalize" href="#" style=" outline: none; border: none; font-family: 'Quicksand', cursive; overflow: hidden;">
      <span class="text-break networkTitle fs-3 fw-bolder text-dark" style="  font-family: 'Dancing Script', cursive; font-optical-sizing: auto;">Network</span>Solutions</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation" style="outline: none; border: none;">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto text-center">
        <li class="nav-item my-2">
          <a class="nav-link fw-bold active text-white bg-dark rounded px-4 fw-bold" aria-current="page" href=""
          style="font-size: 13px !important;" ngbTooltip="Coming Soon">About us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
