<app-header></app-header>

<div class="landing">
  <img src="../../assets/images/LandingPage.png" alt="" style="width: 100%; height: 100%" />
  <div class="landing-overlay-body">
    <div class="d-flex justify-content-center flex-column align-items-center text-center" style="width: 100%; height: 100%">
      <div class="row">
        <div class="col-md-8 offset-md-2 col-sm-12">
          <h3 class="text-center fs-1 fw-bold mb-5"> Multiple Problems&#44;
            <span style="color: #005f73">One Solution</span>
          </h3>
          <p class="fs-5 my-4">
            Track your IP&#44; Check ping&#44; Get port status&#44; Find
            Traceroute&#44; Know IP Subnet and many more- all are at one place.
          </p>
        </div>
        <div class="row my-4">
          <div class="col-md-12">
            <a class="btn m-2 px-5 py-2" type="button" role="button" href="#Network" >Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-tool-page id="Network" class="mt-5"></app-tool-page>

<app-footer></app-footer>
